<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titulo principal</title>
</head>
<style>
    h1 {background-color: olive}
</style>
<script>
    alert("hola soy Javascript dentro de html")
</script>
<body>
    <!--esto es un comentario en html--> 

    <h1>Esto es un titulo</h1>
    <h2>Esto es un titulo</h2>
    <h3>Esto es un {{variable}}</h3>
    <p>{{frutas}}</p>
    <h4>Esto es un titulo</h4>
    <h5>Esto es un titulo</h5>
    <h6>Esto es un titulo</h6>

    <button>Presiona aqui</button>
    <a href="https://keepcoding.io">Ir a Keepcoding</a>

</body>
</html>
